@font-face {
    font-family: 'Proxima Nova';
    src: url('http://fonts.googleapis.com/css?family=Proxima+Nova');
}

@media (max-width: 767px) {}

.greenText {
    color: #21ce6e;
}

.redText {
    color: #FF4B54;
}

#navbarLogo {
    max-height: 10em;
    max-width: 15em;
    overflow: visible;
    margin-top: 0.4em;
}

.navbar-nav li a {
    line-height: 2.3em;
    padding-right: 2em;
    color: black;
    font-size: 1.1em;
}

.jumbotron {
    background-position: 50% 50%;
    background-size: 100%;
    text-align: center;
    color: white;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#jumbotronOne {
    background-image: url("http://i.imgur.com/RHl6wsO.jpg");
    padding-top: 6.5%;
    padding-bottom: 7.95%;
    margin-bottom: 0;
}

.sectionOneHeader {
    padding: 110px 40px 85px 40px;
}

#jumbotronTwo {
    background: white;
    color: #040d14;
    background-size: 100%;
    vertical-align: middle;
    padding: 2em 12em 3em 12em;
    margin-bottom: 0.65em;
}

.sectionTwoHeader {
    line-height: 3;
}

.sectionTwoSubtext {
    line-height: 2;
}

#jumbotronThree {
    background: #161618;
    color: white;
    margin-bottom: -2em;
}

.stepIcon {
    max-width: 65%;
    max-height: 65%;
    padding-left: 10.5em;
    padding-bottom: 0em;
    padding-top: 3em;
}

.eatIcon {
    padding-left: 9em;
    padding-bottom: 1em;
    max-width: 75%;
    max-height: 75%;
}

.finalAccessButton {
    margin-top: 4.5em;
}

.howItWorksBlock {
    margin-right: 1.15em;
}

.modalTitleText {
    padding-bottom: -4em;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 170%;
    text-align: center;
    line-height: 35px;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customerInput {
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.customerFormBlock {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customerSubmitAdjustor {
    padding-bottom: 1em;
    padding-left: 8em;
    padding-right: 8em;
}

.customerSubmitButton {
    background-color: #21ce6e;
    color: white;
    border-color: #21ce6e;
}

.customerSubmitButton:active {
    background-color: #69efa4;
    border-color: #69efa4;
}

.customerSubmitButton:hover {
    background-color: #69efa4;
    border-color: #69efa4;
}

.customerSubmitButton:focus {
    background-color: #69efa4;
    border-color: #69efa4;
}

.accessButton {
    background-color: #21ce6e;
    color: white;
    border-color: #21ce6e;
}

.accessButton:active {
    background-color: #69efa4;
    border-color: #69efa4;
}

.accessButton:hover {
    background-color: #69efa4;
    border-color: #69efa4;
}

.accessButton:focus {
    background-color: #69efa4;
    border-color: #69efa4;
}