#temporary {
    padding-top: 10em;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('http://fonts.googleapis.com/css?family=Proxima+Nova');
}

.jumbotron {
    background-image: url("http://i.imgur.com/RHl6wsO.jpg");
    background-position: 50% 50%;
    background-size: 100%;
    text-align: center;
    color: white;
    padding-top: 6.5%;
    padding-bottom: 7.95%;
    margin-bottom: 0;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#jumbotronTwo {
    background: white;
    color: #040d14;
    background-size: 100%;
    vertical-align: middle;
    padding: 2em 12em 3em 12em;
}

#jumbotronThree {
    background: #161618;
    color: white;
    padding-bottom: 2.5em;
}

#navbarLogo {
    max-height: 1600%;
    max-width: 40%;
    overflow: visible;
    margin-top: -2.2%;
}

.howDescription {
    color: white;
}

.accessButton {
    background-color: #21ce6e;
    color: white;
    border-color: #21ce6e;
}

.accessButton:active {
    background-color: #69efa4;
    border-color: #69efa4;
}

.accessButton:hover {
    background-color: #69efa4;
    border-color: #69efa4;
}

.accessButton:focus {
    background-color: #69efa4;
    border-color: #69efa4;
}

.sectionTwoL1 {
    line-height: 3;
}

.sectionTwoP1 {
    line-height: 1.5;
}

.customerSubmitButton {
    background-color: #21ce6e;
    color: white;
    border-color: #21ce6e;
}

.customerSubmitButton:active {
    background-color: #69efa4;
    border-color: #69efa4;
}

.customerSubmitButton:hover {
    background-color: #69efa4;
    border-color: #69efa4;
}

.customerSubmitButton:focus {
    background-color: #69efa4;
    border-color: #69efa4;
}

.sectionOneHeader {
    padding: 110px 40px 85px 40px;
}

#sectionThreeModal {
    margin-top: 4.5em;
}

.modalTitleBlock {
    padding-bottom: 5px;
    padding-top: 0px;
    padding-left: 5em;
    padding-right: 5em;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modalTitleText {
    font-size: 170%;
    text-align: center;
    line-height: 35px;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.emailInput {
    padding-bottom: 1em;
    padding-left: 6em;
    padding-right: 6em;
}

.passwordInput {
    padding-left: 6em;
    padding-right: 6em;
}

.customerFormSubmit {
    padding-top: 1em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 1em;
}

.customerFormBlock {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-nav li a {
    line-height: 2.3em;
    padding-right: 2em;
    color: black;
}

.navbar .navbar-brand {
    padding-top: 0.65em;
    padding-bottom: 1em;
    padding-left: 2em;
    font-size: 1.75em;
    color: black;
}

.navbarEateryLink {
    font-size: 1.1em;
}

#unsold {
    color: #21ce6e;
}

#discount {
    color: #21ce6e;
}

#trash {
    color: #FF4B54;
}

#helps {
    color: #21ce6e;
}

#excited {
    color: #FF4B54;
}

#closing {
    color: #FF4B54;
}

#saveModal {
    color: #21ce6e;
}

#grubsnatch {
    color: #FF4B54;
}

#still {
    color: #21ce6e;
}

#easily {
    color: #21ce6e;
}

#taste {
    color: #FF4B54;
}

#order {
    color: #21ce6e;
}

#grab {
    color: #21ce6e;
}

#meal {
    color: #FF4B54;
}

#saved {
    color: #21ce6e;
}

#sectionTwoDiscountDivider {
    padding-bottom: 0.85em;
}