body {
    font-size: 1.5em;
}

.greenText {
    color: #21ce6e;
}

.redText {
    color: #FF4B54;
}

.navbar {
    background-color: white;
}

#navbarLogo {
    max-height: 10em;
    max-width: 13.5em;
    overflow: visible;
    margin-top: 0.15em;
}

.navbar-nav li a {
    line-height: 2.3em;
    padding-right: 2em;
    color: black;
    font-size: 1.1em;
}

.jumbotron {
    background-position: 50% 50%;
    background-size: 100%;
    text-align: center;
    color: black;
    font-family: 'Proxima Nova', sans-serif;
    background-repeat: no-repeat;
}

#jumbotronOne {
    background-image: url("/assets/landingPage.jpg");
    padding-top: 6.5%;
    padding-bottom: 7.95%;
    font-size: 5em;
    color: white;
}

.sectionOneHeader {
    padding: 110px 40px 85px 40px;
}

#jumbotronTwo {
    background: white;
    color: #040d14;
    background-size: 100%;
    vertical-align: middle;
    padding: 2em 12em 3em 12em;
    margin-bottom: 0.65em;
}

.sectionTwoHeader {
    line-height: 3;
    font-size: 2em;
}

.sectionTwoSubtext {
    line-height: 2;
    font-size: 1.4em;
}

#jumbotronThree {
    background: #161618;
    color: white;
    margin-bottom: -2em;
}

.searchIcon {
    max-width: 35%;
    max-height: 35%;
    padding-top: 3em;
    padding-bottom: 1.8em;
}

.cardIcon {
    max-width: 35%;
    max-height: 35%;
    padding-top: 3em;
    padding-bottom: 3.2em;
}

.eatIcon {
    max-width: 53%;
    max-height: 53%;
    padding-top: 0.3em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.howItWorksSubtext {
    font-size: 1.5em;
}

.finalAccessButton {
    margin-top: 4.5em;
}

.howItWorksBlock {
    margin-right: 1.15em;
}

.modalTitleText {
    padding-bottom: -4em;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 170%;
    text-align: center;
    line-height: 35px;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customerInput {
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.customerFormBlock {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-family: 'Proxima Nova', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customerSubmitAdjustor {
    padding-bottom: 1em;
    padding-left: 8em;
    padding-right: 8em;
}

.submitButton {
    background-color: #21ce6e;
    color: white;
    border-color: #21ce6e;
}

.submitButton:active {
    background-color: #69efa4;
    border-color: #69efa4;
}

.submitButton:hover {
    background-color: #69efa4;
    border-color: #69efa4;
}

.submitButton:focus {
    background-color: #69efa4;
    border-color: #69efa4;
}

.accessButton {
    background-color: #FF4B54;
    color: white;
    border-color: #FF4B54;
}

.accessButton:active {
    background-color: #ff7c83;
    border-color: #ff7c83;
}

.accessButton:hover {
    background-color: #ff7c83;
    border-color: #ff7c83;
}

.accessButton:focus {
    background-color: #ff7c83;
    border-color: #ff7c83;
}

#jumbotronFour {
    background-image: url('/assets/eateryPage.jpeg');
    color: white;
    padding-top: 13.55em;
    line-height: 13.25;
    background-position: 50% 35%;
}

#jumbotronFive {
    margin-top: -2.1em;
    margin-bottom: -2.4em;
    background-color: #161618;
}

.benefitsIntro {
    color: white;
    font-size: 250%;
}

.benefitsText {
    color: white;
}

#benefitsGrid {
    padding-top: 4em;
}

#jumbotronSix {
    background-color: white;
    margin-top: 3.2em;
    margin-bottom: 0;
}

.eateryInput {
    padding-top: 2em;
    padding-bottom: 1em;
}

.faqButtonOne {
    padding-top: 5em;
}

#faqGrid {
    padding-top: 5em;
    padding-left: 8em;
    padding-right: 8em;
}

.panel {
    font-size: 120%;
}

#benefitsRowTwo {
    padding-top: 4em;
}

.benefitsIcon {
    max-width: 10em;
    max-height: 10em;
}

.risksIcon {
    max-width: 10em;
    max-height: 10em;
}

.thankYouJumbotron {
    background-image: url("/assets/thankYouPage.jpeg");
    background-position: 50% 100%;
    padding-top: 8.55em;
    margin-bottom: -0.5em;
}

.thankYouMessage {
    line-height: 4.49em;
}

.thankYouSubtext {
    line-height: 1.5em;
}

.thankYouColor {
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

.partnershipButton {
    background-color: #21ce6e;
    color: white;
    border-color: #21ce6e;
}

.partnershipButton:focus {
    background-color: #69efa4;
    border-color: #69efa4;
}

.partnershipButton:hover {
    background-color: #69efa4;
    border-color: #69efa4;
}

.partnershipButton:active {
    background-color: #69efa4;
    border-color: #69efa4;
}


/* Tablet landscape and small laptop windows */

@media screen and (min-width: 975px) and (max-width: 1132px) {
    #jumbotronTwo {
        padding-left: 3em;
        padding-right: 3em;
    }
    .eatIcon {
        padding-top: 1.1em;
        padding-bottom: 1.5em;
    }
}


/* Tablets portrait */

@media screen and (min-width:600px) and (max-width: 974px) and (orientation: portrait) {
    #jumbotronOne {
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: 75% 50%;
    }
    #jumbotronTwo {
        padding-left: 1em;
        padding-right: 1em;
    }
    .sectionTwoHeader {
        font-size: 1.65em;
        line-height: 1.5;
    }
    .sectionTwoSubtext {
        font-size: 1.2em;
    }
    .searchIcon {
        max-height: 40%;
        max-width: 40%;
        padding-top: 2.3em;
    }
    .cardIcon {
        max-height: 40%;
        max-width: 40%;
        padding-bottom: 2.3em;
    }
    .eatIcon {
        max-height: 65%;
        max-width: 65%;
        padding-top: 1em;
        padding-bottom: 0em;
    }
    .howItWorksSubtext {
        font-size: 1em;
        padding-left: 0em;
        padding-right: 0em;
        line-height: 1.7em;
    }
    #jumbotronFour {
        background-size: 115%;
        background-position: 70% 20%;
    }
}


/* Large phones landscape */

@media screen and (min-width:600px) and (max-width: 974px) and (orientation: landscape) {
    #jumbotronOne {
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: 75% 50%;
    }
    #jumbotronTwo {
        padding-left: 1em;
        padding-right: 1em;
    }
    .sectionTwoHeader {
        font-size: 1.65em;
        line-height: 1.5;
    }
    .sectionTwoSubtext {
        font-size: 1.2em;
    }
    .searchIcon {
        max-height: 40%;
        max-width: 40%;
        padding-top: 2.3em;
    }
    .cardIcon {
        max-height: 40%;
        max-width: 40%;
        padding-bottom: 2.3em;
    }
    .eatIcon {
        max-height: 65%;
        max-width: 65%;
        padding-top: 1em;
        padding-bottom: 0em;
    }
    .howItWorksSubtext {
        font-size: 1em;
        padding-left: 0em;
        padding-right: 0em;
        line-height: 1.7em;
    }
    #jumbotronFour {
        background-size: 115%;
        background-position: 70% 20%;
    }
    #navbarLogo {
        max-height: 5em;
        max-width: 9em;
    }
    .modalTitleText {
        font-size: 1.5em;
    }
}


/* Small phone landscape */

@media screen and (min-width:300px) and (max-width: 599px) and (orientation: landscape) {
    #jumbotronOne {
        background-size: 350%;
        background-position: 80% 80%;
    }
    #jumbotronTwo {
        font-size: 0.7em;
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
    .sectionTwoHeader {
        line-height: 1.5;
    }
    .howItWorksSubtext {
        font-size: 1em;
        text-align: center;
        padding-left: 1em;
    }
    .searchIcon {
        max-width: 35%;
        max-height: 35%;
        padding-top: 1.5em;
        padding-bottom: 1em;
        padding-left: 1em;
    }
    .cardIcon {
        max-width: 35%;
        max-height: 35%;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1em;
    }
    .eatIcon {
        max-width: 55%;
        max-height: 55%;
        padding-top: 0.5em;
        padding-bottom: 0em;
        padding-left: 1em;
    }
    .finalAccessButton {
        margin-left: 9em;
        max-height: 55%;
        max-width: 55%;
    }
    #jumbotronFour {
        background-size: 300%;
    }
    #navbarLogo {
        max-height: 5em;
        max-width: 9em;
    }
    .benefitsIcon {
        padding-top: 5em;
        max-height: 12em;
        max-width: 12em;
    }
    #benefitsGrid {
        padding-top: 0em;
    }
    #jumbotronSix {
        padding-left: 0em;
        padding-right: 0em;
    }
    #faqGrid {
        padding-left: 0em;
        padding-right: 0em;
    }
    .modalTitleText {
        font-size: 1.5em;
    }
}


/* Small phone portrait */

@media screen and (min-width:300px) and (max-width: 599px) and (orientation: portrait) {
    #navbarLogo {
        max-height: 5em;
        max-width: 9em;
    }
    #jumbotronOne {
        background-size: 300%;
        background-position: 80% 80%;
    }
    #jumbotronTwo {
        font-size: 0.7em;
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
    .sectionTwoHeader {
        line-height: 1.5;
    }
    .howItWorksSubtext {
        font-size: 1em;
        text-align: center;
        padding-left: 1em;
    }
    .searchIcon {
        max-width: 35%;
        max-height: 35%;
        padding-top: 1.5em;
        padding-bottom: 1em;
        padding-left: 1.7em;
    }
    .cardIcon {
        max-width: 35%;
        max-height: 35%;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1.7em;
    }
    .eatIcon {
        max-width: 55%;
        max-height: 55%;
        padding-top: 0.5em;
        padding-bottom: 0em;
        padding-left: 1.7em;
    }
    .accessButton {
        width: 100%;
    }
    .finalAccessButton {
        padding-left: 1em;
    }
    #jumbotronFour {
        background-size: 350%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 1.5em;
        margin-top: -6em;
        margin-bottom: -3em;
    }
    #jumbotronFive {
        font-size: 0.7em;
    }
    .benefitsIcon {
        padding-top: 5em;
        max-height: 12em;
        max-width: 12em;
    }
    #benefitsGrid {
        padding-top: 0em;
    }
    #jumbotronSix {
        padding-left: 0em;
        padding-right: 0em;
    }
    #faqGrid {
        padding-left: 0em;
        padding-right: 0em;
    }
    .col-xs-4 {
        width: 100%;
    }
    .modalTitleText {
        font-size: 1.3em;
        line-height: 1;
        padding-left: 0em;
        padding-right: 0em;
    }
    .customerInput {
        padding-left: 0em;
        padding-right: 0em;
    }
    .customerSubmitAdjustor {
        width: 100%;
        padding-left: 0em;
        padding-right: 0em;
    }
}